[Unit]
Description=My NPM Service
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/webapp
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target'