[Unit]
Description=My NPM Service
After=cloud-final.service

[Service]
Type=simple
User=csye6225
Group=csye6225
EnvironmentFile=/etc/environment
WorkingDirectory=/home/csye6225/webapp
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=cloud-init.target