# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Packer-Validate-CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "feature-packer" ]

jobs:
    packer: 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Packer Init
              uses: hashicorp/packer-github-actions@master
              with:
                command: init
                target: packer/aws-debian.pkr.hcl

            - name: Format Packer Template
              uses: hashicorp/packer-github-actions@master
              with:
                command: fmt
                target: packer/aws-debian.pkr.hcl

            - name: Validate Packer Template
              uses: hashicorp/packer-github-actions@master
              with:
                command: validate
                target: packer/aws-debian.pkr.hcl