# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Packer-Validate-CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "feature-packer" ]

jobs:
    packer: 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install Packer
              run: |
                cd packer
                chmod +x install.sh
                wget https://releases.hashicorp.com/packer/1.7.4/packer_1.7.4_linux_amd64.zip
                sudo rm -f /usr/local/bin/packer
                echo "before unzip"
                ls -al
                unzip -o packer_1.7.4_linux_amd64.zip
                echo "after unzip"
                ls -al
                sudo mv packer /usr/local/bin/
                echo "after move"
                ls -al
                packer --version
                sudo rm packer_1.7.4_linux_amd64.zip
                pwd

            - name: Packer Init
              run: |
                pwd
                ls -al
                packer init packer/aws-debian.pkr.hcl

            - name: Format Packer Template
              run: |
                packer fmt packer/aws-debian.pkr.hcl

            - name: Validate Packer Template
              run: |
                ls -al packer/
                cd packer
                packer validate aws-debian.pkr.hcl

            # - name: Packer Init
            #   uses: hashicorp/packer-github-actions@master
            #   with:
            #     command: init
            #     target: packer/aws-debian.pkr.hcl

            # - name: Format Packer Template
            #   uses: hashicorp/packer-github-actions@master
            #   with:
            #     command: fmt
            #     target: packer/aws-debian.pkr.hcl

            # - name: Validate Packer Template
            #   uses: hashicorp/packer-github-actions@master
            #   with:
            #     command: validate
            #     target: packer/aws-debian.pkr.hcl