# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Packer-Validate-CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "feature-packer" ]

jobs:
    packer: 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install Packer
              run: |
                chmod +x install.sh
                wget https://releases.hashicorp.com/packer/1.7.4/packer_1.7.4_linux_amd64.zip
                sudo rm -f /usr/local/bin/packer
                unzip -o packer_1.7.4_linux_amd64.zip
                sudo mv packer /usr/local/bin/
                packer --version
                sudo rm packer_1.7.4_linux_amd64.zip

            - name: Packer Init
              run: |
                packer init aws-debian.pkr.hcl

            - name: Format Packer Template
              run: |
                packer fmt -check aws-debian.pkr.hcl
                if [ $? -ne 0 ]; then
                    echo "Packer template format is incorrect."
                    exit 1
                fi

            - name: Validate Packer Template
              run: |
                packer validate aws-debian.pkr.hcl
                if [ $? -ne 0 ]; then
                    echo "Packer template validation failed."
                    exit 1
                fi

            # - name: Set permission
            #   run: |
            #     chmod +x install.sh

            # - name: Packer Init
            #   uses: hashicorp/packer-github-actions@master
            #   with:
            #     command: init
            #     target: aws-debian.pkr.hcl

            # - name: Format Packer Template
            #   uses: hashicorp/packer-github-actions@master
            #   with:
            #     command: fmt
            #     target: aws-debian.pkr.hcl

            # - name: Validate Packer 
            #   uses: hashicorp/packer-github-actions@master
            #   with:
            #     command: validate
            #     target: aws-debian.pkr.hcl